# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
output/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea
*.ipdb
*.pdb
*.iobj
*.db
*.opendb
*.sdf
*.suo

*.dll

*.log
.clang-format
.clang_format.hook

build/
dist/
paddleocr.egg-info/
fluid_inference_install_dir/
doc/
deploy/cpp_infer/vs2015/Release
deploy/cpp_infer/vs2015/Debug
deploy/cpp_infer/vs2015/x64
deploy/cpp_infer/vs2015/CMakeFiles
deploy/cpp_infer/vs2015/test/x64
deploy/cpp_infer/vs2015/test/Release
deploy/cpp_infer/vs2015/test/Debug
deploy/cpp_infer/vs2015/ipch